.register-card{
  position: relative !important;
  width: 90%;
}

/* item view in the shop thumbnail */
div.item-thumbnail-desc {
  text-align: center;
	overflow: hidden !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
}

.item-thumbnail-box-button {
	width:100%;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	display:block;
	text-align:center;
	border-radius:0 !important;
}

.item-thumbnail-container-fluid {
  padding: 60px 50px;
}

.item-thumbnail-panel-item {
  border: 1px solid #ccc;
  border-radius:0 !important;
  transition: box-shadow 0.5s;
	margin-bottom: 30px;
}

.out-of-stock{
  border: 1px solid 	#d9534f !important;
}

.item-thumbnail-panel-item:hover {
  border: 1px solid #777;
}

.item-thumbnail-panel-item-heading {
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.item-thumbnail-panel-item-footer {
  background-color: white !important;
}

.item-thumbnail-panel-item-footer h3 {
  font-size: 32px;
}

.item-thumbnail-pane-item-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.item-thumbnail-sub-heading {
  padding: 10px;
  color: azure;
  background-color: #fc7c5c;
  border-radius: 20px;
}

.overflow-auto {
  overflow: auto;
}

@keyframes widthExpand {
  0%   {width:0%}
  10%  {width:15%}
  20%  {width:20%}
  30%  {width:25%}
  40%  {width:38%}
  50%  {width:40%}
  60%  {width:60%}
  70%  {width:65%}
  80%  {width:80%}
  90%  {width:95%}
  100%  {width:100%}
}

.progressbarFill {
  -webkit-animation: widthExpand 8s; /* Safari 4+ */
  -moz-animation:    widthExpand 8s; /* Fx 5+ */
  -o-animation:      widthExpand 8s; /* Opera 12+ */
  animation:         widthExpand 8s; /* IE 10+, Fx 29+ */
}

.img-custom{
  box-shadow: none !important;
  border-radius:0px !important;
}

.quilt-button{
  background-color: #412a49 !important;
  border-color:  #412a49 !important;
  border-radius: 2px;
  color: white !important;
  /* width:10%; */
}

/* side bar active tab */
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
  background-color: #d9d4db !important;
  color:#412a49;
}

a {
  color: #412a49;
}
